.search {
    background-color: rgb(88, 169, 143);
    height: 400px;
    width: 400px;
    margin: 10px;
}

 .result{
    background-color: rgb(88, 169, 143);
    height: 400px;
    margin: 10px;
}
